---
import IconWhatsApp from '../icons/IconWhatsApp.astro';
---

<a href="http://" class="boton-wrapper animate-infinite animate-ease-in-out flex animate-pulse items-center justify-center">
	<span class="boton"> Disponible para trabajar </span>
	<div class="boton2 flex">
		<span class="boton3 hidden sm:flex">¡Escribeme!</span>
		<IconWhatsApp class="size-4 sm:ml-2" />
	</div>
</a>
