---
const logotipo = '<ManuelDenis developer={full.Stack} />';
---

<header class="mandendev-header">
	<h1 class="mandendev-h1">{logotipo}</h1>
    <nav>
        
    </nav>
</header>
<style></style>
