<a class="link font-mono text-[3vw] sm:text-base md:text-lg lg:text-xl" href="/">
	<h1 class="">
		<span class="text-slate-300">&#60</span><span class="purpletopink">ManuelDenis </span><span class="pinktoorange">developer</span><span
			class="text-slate-300">&#61</span
		><span class="orangetored">&#123</span><span class="bluetocyan">mandendev</span><span class="redtoorange">&#125</span><span class="text-slate-300"
			>/&#62;</span
		>
	</h1>
</a>
